body{
    margin: 0px;
    padding: 0px;
}
.wrapper_register{
    position: absolute;
    margin-top: 330px;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container_register{
    width:450px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding:20px;
    box-sizing: border-box;
}
.container_register .box_register{
    position: relative;
  
  padding:px 40px 40px;

}
h1{
    font-size: 40px;
    text-align: center;
    color:#555;
    letter-spacing: .5px;
    font-family: gotham;
}
.username_register input{
    width:100%;
    border:none;
    outline: none;
    background: none;
    font-size: 18px;
    color:#555;
    letter-spacing: 1px;
    padding: 20px 10px 20px 5px;
}
.username_register{
    margin-bottom: 20px;
    border-bottom: 2px solid #c2c4c3;
    transition: .5s ease;
}
.username_register:hover{
    border-bottom: 3px solid #485563;
}
#button_register{
    margin-top: 30px;
    width:100%;
    height:60px;
    border-radius: 30px;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    background-color: #555;
}
#button_register:hover{
    background-position: right;
}
.container_footer{
    margin-top: 1000px;
}